.navbar-top {
    position: fixed;
    background: #000000;
    opacity: 0.85;
    color: #eee;
    top: 0;
    left: 0;
    right: 0;
}
.navbar-header {
    font-weight: bold;
    font-size: 1.8em;
    margin: 5px 10px;    
}
.navbar-icon {
    height: 55px;
    padding-left: 10px;
}
.btn {
    padding: 0.50rem 1rem;
    color: white !important; 
}


.navbar-links {    
    height: 70px;
    font-size: 0.9em;
}
    .navbar-links .btn {
        padding: 10px 15px;
        margin-right: 5px;
        margin-top: 10px;
        color: #bbb;
        border-radius: 3px !important;
    }
    .navbar-links a.btn  {        
        border-radius: 3px !important;        
        text-decoration: none;
        color: #eee;
    }
    .navbar-links  a.btn:hover {
        background: #777;
        color: White
    }
    .navbar-links .btn-secondary {
        background: transparent;
        border: 1px solid transparent;        
    }

/* Main body container from layout */
.body-content {
    margin-top: 70px;
}

/* Content container inside of the content pages */
.content-container {
    margin: 100px auto 9px;
    max-width: 1200px;
    padding: 0 30px;
}
.input-container {
    padding: 0 30px;
}
@media (max-width: 768px) {
    .content-container {
        padding: 0 15px;
    }
    .navbar-links .btn, .navbar-links a.btn {
        padding: 10px 8px;
        margin-right: 2px;
    }
    input-container {
        padding: 0;
    }
}
.page-header-text {
    margin-bottom: 40px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;    
}
    .page-header-text .fa {
        padding-right: 7px;
    }

    footer {
    position: fixed;

    bottom: 0;
    left: 0;
    right: 0;

    height: 40px;
    padding: 8px 20px;
    margin-top: 20px;

    font-size: 0.8em;
    background: #444;
    color: #eee;
}