
@model KavaDocsUserManager.Web.Views.Account.LoginViewModel

<div class="content-container" style="max-width: 600px">
    <h1 class="page-header-text">
        <i class="fa fa-sign-in"></i>
        &nbsp;Sign in
    </h1>
    
    <error-display error-display-model="Model.ErrorDisplay">
    </error-display>
        
    
    <form class="panel-body" name="form1" asp-action="Login">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">
                    <i class="fa fa-fw fa-user"></i>
                </div>
                <input type="text" 
                       class="form-control"
                       placeholder="Enter your email address"                       
                       asp-for="Email"                       
                       autocapitalize="off"
                       autocomplete="off"
                       spellcheck="false"
                       autocorrect="off" required />
            </div>
        </div>

        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">
                    <i class="fa fa-fw fa-unlock-alt"></i>
                </div>
                <input type="password"                       
                       class="form-control"
                       placeholder="Enter your password"
                       asp-for="Password"
                       autocapitalize="off"
                       autocomplete="off"
                       spellcheck="false"
                       autocorrect="off"
                       required />
            </div>
        </div>
        <button class="btn btn-primary btn-lg"
                type="submit"                
                
                [disabled]="form1.invalid || form1.pristine">
            <i class="fa fa-unlock-alt"></i>
            Sign in
        </button>

        <button *ngIf="isForgotPassword"
                class="btn btn-primary btn-lg"
                type="button"
                [disabled]="form1.invalid || form1.pristine"
                (click)="resetPassword()">
            <i class="fa fa-unlock-alt"></i>
            Reset my Password
        </button>
        <div class="pull-right" *ngIf="!isForgotPassword">
            <button class="btn btn-default btn-sm pull-right" style="display:block"
                    type="button"
                    (click)="signout()" [disabled]="!user.isAuthenticated">
                <i class="fa fa-unlock-alt"></i>
                Sign out
            </button>
        </div>
        <div class="margin-top" *ngIf="!isForgotPassword">
            <a (click)="forgotPassword()">I forgot my password</a>
        </div>
        <hr />

        <p>Don't have an account yet? No problem, create one - it's FREE and easy.</p>
        <button class="btn btn-primary" routerLink="/profile">
            <i class="fa fa-pencil"></i>
            Create a new Account
        </button>

    </form>
</div>
