@model KavaDocsUserManager.Web.Views.Account.PasswordRecoveryModel
@{
    ViewData["Title"] = "Password Recovery";
}

<div class="content-container" style="max-width: 600px">
    <h1 class="page-header-text">
        <i class="fas fa-sign-in"></i>
        Password Recovery
    </h1>
        
    <error-display error-display-model="Model.ErrorDisplay"></error-display>

    <form class="panel-body" name="form1" asp-action="PasswordRecoverySendEmail">
        
        <p>
            Please enter the email address you want to recover. We'll
            send you a confirmation email with a link where you can reset
            your password.
        </p>

        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <i class="fa fa-fw fa-envelope input-group-text"></i>
                </div>
                <input type="email"
                       class="form-control"
                       placeholder="Enter your email address"
                       asp-for="Email"
                       aria-label="Email"
                       autocapitalize="off"
                       autocomplete="off"
                       spellcheck="false"
                       autocorrect="off" required/>
            </div>

        </div>
        
        <div class="margin-top">
            <button class="btn btn-primary  "
                type="submit"
                [disabled]="form1.invalid || form1.pristine">
                <i class="fa fa-check-circle"></i>
                Send Recovery Email
            </button>
        </div>
    </form>
</div>