@model KavaDocsUserManager.Web.Views.Account.PasswordRecoveryModel
@{
    ViewData["Title"] = "Password Recovery";
}

<div class="content-container" style="max-width: 600px">
    <h1 class="page-header-text">
        <i class="fas fa-sign-in"></i>
        Password Recovery
    </h1>
        
    <error-display error-display-model="Model.ErrorDisplay"></error-display>

    <form name="form1" asp-action="PasswordRecovery">
        
        <p>
            Thank you for verifying your email address. You can now change your password
            by entering a new password and entering it twice.
        </p>
        
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <i class="fa fa-fw fa-unlock-alt input-group-text"></i>
                </div>
                <input type="password"
                       class="form-control"
                       placeholder="Enter your password"
                       asp-for="Password"
                       autocapitalize="off"
                       autocomplete="off"
                       spellcheck="false"
                       autocorrect="off"
                       required/>
            </div>
        </div>
        
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <i class="fa fa-fw fa-unlock-alt input-group-text"></i>
                </div>
                <input type="password"
                       class="form-control"
                       placeholder="Verify your password"
                       asp-for="PasswordRecovery"
                       autocapitalize="off"
                       autocomplete="off"
                       spellcheck="false"
                       autocorrect="off"
                       required />
            </div>
        </div>
        
        <input type="hidden" asp-for="ValidationId" />

        <div class="margin-top">
            <button class="btn btn-primary  "
                type="submit"
                [disabled]="form1.invalid || form1.pristine">
                <i class="fa fa-lock-alt"></i>
                Set new Password
            </button>
        </div>
    </form>
</div>