
@model KavaDocsUserManager.Web.Views.Account.ProfileViewModel
@{
    ViewData["Title"] = "My Profile";
}

<div class="content-container">
    <h1 class="page-header-text">
        <i class="fa fa-user-alt"></i>
        @if (Model.IsNewUser)
        {
            <text>Create a new Profile</text>
        }
        else
        {
            <text>@Model.User.UserDisplayName: Your Profile</text>
        }
    </h1>
    
    <error-display error-display-model="Model.ErrorDisplay">
    </error-display>
    
    <div class="input-container margin-top">
        
        <p class="margin-bottom-2x">
            Please choose a unique user name for your account. The user name is associated with
            each of your documentation repositories. You also need to provide a valid
            email address that can be validated to log into your account.
        </p>
                

        <form asp-action="profile" asp-route-id="Model.User.Id">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <i class="fa fa-fw fa-user input-group-text"></i>
                    </div>
                    <input type="text"
                           class="form-control"
                           placeholder="Enter a Username"
                           asp-for="User.UserDisplayName"
                           aria-label="Email"
                           autocapitalize="off"
                           autocomplete="off"
                           spellcheck="false"
                           autocorrect="off" required />
                </div>
                <small>alpha numerics and dashes only and no spaces please.</small>
            </div>


            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <i class="fa fa-envelope-open input-group-text"></i>
                    </div>
                    <input type="text"
                           class="form-control"
                           placeholder="Enter your Email address"
                           asp-for="User.Email"
                           aria-label="Email"
                           title="Please enter a valid email address "
                           autocapitalize="off"
                           autocomplete="off"
                           spellcheck="false"
                           autocorrect="off" required/>
                </div>
                <small>used to verify your email address</small>
            </div>


            <div class="form-group margin-top-2x">
                <div class="responsive-container">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <i class="fa fa-fw fa-user input-group-text"></i>
                        </div>
                        <input type="text" class="form-control" placeholder="First name" asp-for="User.FirstName" />
                    </div>

                    <div class="input-group">
                        <div class="input-group-prepend">
                            <i class="fa fa-fw fa-user input-group-text"></i>
                        </div>
                        <input type="text" class="form-control" id="txtLastname" asp-for="User.LastName" placeholder="Last name" />
                    </div>
                </div>            
            </div>

            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <i class="fa fa-users input-group-text"></i>
                    </div>
                    <input type="text"
                           class="form-control"
                           placeholder="Enter your Company"
                           asp-for="User.Company"
                           autocapitalize="off"
                           autocomplete="off"
                           spellcheck="false"
                           autocorrect="off" required/>
                </div>
            </div>

      
        
            <div class="password-fields margin-top-2x" style="display: @(Model.IsNewUser ? "block" : "none")">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <i class="fa fa-fw fa-unlock-alt input-group-text"></i>
                        </div>
                        <input class="form-control" type="password" 
                               asp-for="Password" placeholder="Enter a Password"  />
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <i class="fa fa-fw fa-unlock-alt input-group-text"></i>
                        </div>
                        <input class="form-control" type="password" 
                               asp-for="PasswordConfirm" novalidate 
                               placeholder="Confirm Password"  />
                    </div>
                </div>    
            </div>
        
            <p class="password-recovery" style="display:  @(!Model.IsNewUser ? "block" : "none")">
                    <a href="@Url.Action("PasswordRecoverySendEmail")">Change your password</a>
            </p>        
        
            <button class="btn-primary btn margin-top" type="submit">
                <i class="fa fa-check-circle" ></i>
                Save your Profile
            </button>
                        
            <input type="hidden" asp-for="User.Id" />
        </form>

    </div>
</div>
