
@model KavaDocsUserManager.Web.Views.Account.SigninViewModel

@{
    var appUser = User.GetAppUser();

}

<div class="content-container" style="max-width: 600px">
    <h1 class="page-header-text">
        <i class="fas fa-sign-in"></i>
        &nbsp;Sign in
    </h1>
    
    
        
    
    <form class="panel-body" name="form1" asp-action="Signin">
        <div class="form-group">            
            <div class="input-group" >
                <div class="input-group-prepend">
                    <i class="fa fa-fw fa-user input-group-text" ></i>
                </div>
                <input type="text"
                       class="form-control"
                       placeholder="Enter your email address"
                       asp-for="Email"
                       aria-label="Email"
                       autocapitalize="off"
                       autocomplete="off"
                       spellcheck="false"
                       autocorrect="off" required/>
            </div>
        </div>
        
        

        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <i class="fa fa-fw fa-unlock-alt input-group-text" ></i>
                </div>
                <input type="password"                       
                       class="form-control"
                       placeholder="Enter your password"
                       asp-for="Password"
                       autocapitalize="off"
                       autocomplete="off"
                       spellcheck="false"
                       autocorrect="off"
                       required />
            </div>
        </div>
        
        
        <div class="margin-top">
               <button class="btn btn-primary  "
                        type="submit"
                        [disabled]="form1.invalid || form1.pristine">
                    <i class="fa fa-unlock-alt"></i>
                    Sign in
                </button>
            
        @if (appUser.IsAuthenticated())
        {
            <div class="float-right" *ngIf="!isForgotPassword">
                <a asp-action="Signout" class="btn btn-default btn-sm float-right" 
                   style="display: block">
                    <i class="fa fa-lock-alt"></i>
                    Sign out
                </a>
            </div>
        }
        </div>
        <div class="margin-top" *ngIf="!isForgotPassword">
            <a asp-action="PasswordRecovery">I forgot my password</a>
        </div>
        <hr />

        <p>Don't have an account yet? No problem, create one - it's FREE and easy.</p>
        <a asp-action="Profile" class="btn btn-primary" routerLink="/profile">
            <i class="fa fa-pencil"></i>
            Create a new Account
        </a>

    </form>
</div>
