@model AppBaseViewModel
@{
    ViewData["Title"] = "Kava Docs Administration";
}


<div id="AdminPage" class="content-container">
    

        <error-display error-display-model="Model.ErrorDisplay"></error-display>

        <h1 class="page-header-text">
            <i class="far fa- fa-cogs"></i>
            Administration
        </h1>

        <div class="list-group">
            <div class="list-group-item list-group-item-heading list-group-item-info">Admin Tasks</div>

            <a class="list-group-item list-group-item-action">Action 1</a>
            <a class="list-group-item list-group-item-action">Action 2</a>

        </div>

</div>
